<div class="food-detail-container">
    <div class="name-food">{{dataFood.name}}</div>
    <div class="detail-rate-container">
      <div class="best-seller-label">{{dataFood.trend | trend}}</div>
      <div>{{dataFood.totalBooking}}</div>
      <div appColorStatus *ngIf="dataFood.status === 0" [color]="'red'">{{dataFood.status | status}}</div>
      <div appColorStatus *ngIf="dataFood.status === 1" [color]="'green'">{{dataFood.status | status}}</div>
      <div>{{dataFood.price}}$</div>
    </div>
    <br>
    <div class="material">ssssss</div>
  </div>