<div class="flex-container">
  <div class="img-container">
    <img class="img-logo" src="../../../../../assets/logo.png" alt="">
  </div>

  <div class="login-form">
    <label class="label-form">{{labelUsername}}</label>
    <input type="text" class="form-control" placeholder="{{placeholderUsername}}">
    <div class="error">{{errorMessageUsername}}</div>
    <br>
    <label class="label-form">{{labelPassword}}</label>
    <input type="password" class="form-control" placeholder="{{placeholderPassword}}">
    <div class="error">{{errorMessagePassword}}</div>
    <br>
    <div class="btn-login-container">
        <button class="btn btn-primary btn-login">Login</button>
    </div>
  </div>
</div>