.item-cart-container{
    display: flex;
    margin: 10px;
    flex-direction: column;
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: rgba(214, 214, 214, 0.884) 3px 3px 3px 3px;
    img{
        max-width: 100%;
        object-fit: cover;
    }

    .remove{
        background-color: rgb(255, 43, 43);;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .booking-food{
        display: flex;
        flex-direction: row;
    }
}

:host{
    width: 25%;
}