:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .price{
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }

    .booking-food{
        display: flex;
        flex-direction: row;
        margin: 10px;

        input{
            text-align: center;
            width: 60px;
        }
    }
}