:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cart{
        text-align: center;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        &.no-on-cart{
            background-color: rgb(21, 226, 31);
        }

        &.on-cart{
            background-color: rgb(255, 43, 43);
        }
    }

    .booking-food{
        display: flex;
        flex-direction: row;
        margin: 10px;

        input{
            text-align: center;
            width: 60px;
        }
    }
}